.box_style {
  margin-top: 40px;
  margin-left: 35px;
}
.score_line {
  margin-top: 15px;
  display: flex;
}

.index_style {
  font-size: 20px;
  margin-right: 20px;
}
.topindex_style {
  font-size: 22px;
  margin-right: 20px;
  font-weight: bold;
}
.name_style {
  font-size: 20px;
  width: 150px;
}
.score_style {
  font-size: 22px;
  width: 160px;
  
}
.remove_button {
  border-radius: 32%;
  background: white;
  font-size: 18px;
}
