.cell {
    display: flex;
    border: 1px solid white;
    background-color: navy;
    justify-content: center;
    align-items: center;

    font-size: 27px;
    font-weight: bold;
    color: white;
}